.hero-section .hero-container {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  padding: 2rem;
}
.hero-section .hero-container .header-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .header-1 h1 {
  font-size: 30px;
}
.hero-section .hero-container .header-1 div {
  font-size: 11px;
  font-weight: normal;
  background-color: #242B47;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
}
.hero-section .hero-container .header-1 div span {
  font-size: 14px;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .header-1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-section .hero-container .header-1 h1 {
    font-size: 24px;
  }
  .hero-section .hero-container .header-1 h4 {
    font-size: 10px;
    font-weight: 400;
  }
  .hero-section .hero-container .header-1 h4 span {
    color: #E5B805;
  }
}
@media screen and (min-width: 768px) {
  .hero-section .hero-container .header-1 h4 {
    display: none;
  }
}
.hero-section .hero-container .header-2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero-section .hero-container .header-2 h2 {
  font-size: 24px;
}
.hero-section .hero-container .header-2 .filters {
  display: flex;
  justify-content: space-between;
  background-color: #1C2031;
  padding: 1rem;
  border: 6px;
  color: #C6C7CB;
  border: 1px solid #252B46;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hero-section .hero-container .header-2 .filters {
    display: none;
  }
}
.hero-section .hero-container .header-2 .dropdown-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .header-2 .dropdown-container .dd-line {
  width: 100%;
  height: 1px;
  background-color: #212842;
  border-radius: 4px;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .header-2 .dropdown-container {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .header-2 {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .hero-section .hero-container .header-2 h2 {
    font-size: 16px;
    font-weight: 500;
  }
}
.hero-section .hero-container .line-through {
  width: 100%;
  height: 1px;
  background-color: #C6C7CB;
  margin: 1rem 0;
  border-radius: 4px;
  opacity: 0.2;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .line-through {
    display: none;
  }
}
.hero-section .hero-container .map-container {
  position: relative;
  margin-top: 4rem;
  background-color: #1B1F30;
  border: 1px solid #393C4A;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 7rem;
}
.hero-section .hero-container .map-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-section .hero-container .map-container .right-side .zooms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.hero-section .hero-container .map-container .right-side .zooms .zoom {
  background-color: white;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}
.hero-section .hero-container .map-container .right-side .parties {
  margin-bottom: 5rem;
  color: #57656B;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 17%;
}
.hero-section .hero-container .map-container .right-side .parties .apc {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .apc div {
  width: 32px;
  height: 24px;
  background-color: #64CCFF;
}
.hero-section .hero-container .map-container .right-side .parties .lp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .lp div {
  width: 32px;
  height: 24px;
  background-color: #0AA83F;
}
.hero-section .hero-container .map-container .right-side .parties .pdp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .pdp div {
  width: 32px;
  height: 24px;
  background-color: #D62B3C;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .map-container {
    height: 290px;
    gap: 1rem;
    padding: 1rem;
    margin-top: 0;
  }
  .hero-section .hero-container .map-container .map-img img {
    width: 100%;
  }
  .hero-section .hero-container .map-container .right-side .zooms {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
  .hero-section .hero-container .map-container .right-side .zooms .zoom {
    width: 22px;
    height: 22px;
  }
  .hero-section .hero-container .map-container .right-side .zooms .zoom img {
    transform: scale(0.8);
  }
  .hero-section .hero-container .map-container .right-side .parties {
    flex-direction: row;
    gap: 1rem;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    font-size: 12px;
  }
  .hero-section .hero-container .map-container .right-side .parties .apc {
    gap: 0.5rem;
  }
  .hero-section .hero-container .map-container .right-side .parties .apc div {
    width: 20px;
    height: 15px;
  }
  .hero-section .hero-container .map-container .right-side .parties .lp {
    gap: 0.5rem;
  }
  .hero-section .hero-container .map-container .right-side .parties .lp div {
    width: 20px;
    height: 15px;
  }
  .hero-section .hero-container .map-container .right-side .parties .pdp {
    gap: 0.5rem;
  }
  .hero-section .hero-container .map-container .right-side .parties .pdp div {
    width: 20px;
    height: 15px;
  }
}
.hero-section .hero-container .stats {
  margin-top: 2rem;
  background-color: #1B1F30;
  border: 1px solid #393C4A;
  border-radius: 13px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 428px;
  height: 100%;
}
.hero-section .hero-container .stats .first {
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
  width: 380px;
  height: 337px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-section .hero-container .stats .first .outer {
  border: 1.5rem solid #449352;
  border-radius: 50%;
  border-top-color: #E30325;
  margin-right: 6rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
  transform: rotate(50deg);
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .outer {
    margin-right: 3rem;
    margin-bottom: 0;
  }
}
.hero-section .hero-container .stats .first .outer .middle {
  padding: 0.5rem;
  background-color: #1B1F30;
  border-radius: 50%;
  transform: rotate(-50deg);
}
.hero-section .hero-container .stats .first .outer .middle .inner {
  border: 1px solid #393C4A;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B1F30;
}
@media screen and (max-width: 375px) {
  .hero-section .hero-container .stats .first .outer .middle .inner {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .outer .middle .inner {
    width: 90px;
    height: 90px;
  }
}
.hero-section .hero-container .stats .first .outer .middle .inner p {
  font-size: 14px;
}
@media screen and (max-width: 375px) {
  .hero-section .hero-container .stats .first .outer .middle .inner p {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .outer .middle .inner p {
    font-size: 10px;
  }
}
.hero-section .hero-container .stats .first .outer .middle .inner h1 {
  font-size: 20px;
}
@media screen and (max-width: 375px) {
  .hero-section .hero-container .stats .first .outer .middle .inner h1 {
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .outer .middle .inner h1 {
    font-size: 13px;
  }
}
.hero-section .hero-container .stats .first .rv {
  position: absolute;
  top: 15%;
  right: 8%;
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .rv {
    right: 2%;
    top: 19%;
  }
}
.hero-section .hero-container .stats .first .rv p {
  font-size: 12px;
  opacity: 50%;
}
.hero-section .hero-container .stats .first .rv h2 {
  font-size: 15px;
}
.hero-section .hero-container .stats .first .ac {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.hero-section .hero-container .stats .first .ac p {
  font-size: 12px;
  opacity: 50%;
}
.hero-section .hero-container .stats .first .ac h2 {
  font-size: 15px;
}
.hero-section .hero-container .stats .first .rv-arrow {
  position: absolute;
  top: 20%;
  right: 35%;
}
@media screen and (max-width: 320px) {
  .hero-section .hero-container .stats .first .rv-arrow {
    top: 27%;
  }
}
.hero-section .hero-container .stats .first .av-arrow {
  position: absolute;
  bottom: 23%;
  left: 27%;
  z-index: 1;
}
.hero-section .hero-container .stats .second {
  width: 538px;
  height: 337px;
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
}
.hero-section .hero-container .stats .second h2 {
  font-size: 14px;
  font-weight: 400;
}
.hero-section .hero-container .stats .second .gp-zones {
  padding-top: 2.3rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .hero-section .hero-container .stats .second .gp-zones {
    flex-direction: column;
  }
}
.hero-section .hero-container .stats .second .gp-zones .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-end;
  margin-bottom: 2rem;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 12px;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con .rec {
  width: 22px;
  height: 14px;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con .short {
    display: none;
  }
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .ne-con div {
  background-color: #449352;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .nw-con div {
  background-color: #6D769D;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .nc-con div {
  background-color: #A163BE;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .sw-con div {
  background-color: #E30325;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .ss-con div {
  background-color: #2249D1;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .se-con div {
  background-color: #018796;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general p {
  opacity: 60%;
}
.hero-section .hero-container .stats .third {
  width: 270px;
  height: 337px;
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .stats .third {
    width: 100%;
    height: 100%;
    border: none;
  }
}
.hero-section .hero-container .stats .third .third-header h2 {
  font-size: 14px;
  font-weight: normal;
}
.hero-section .hero-container .stats .third .third-header p {
  font-size: 20px;
  font-weight: 700;
}
.hero-section .hero-container .stats .third .tem {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .stats .third .tem {
    flex-direction: row;
    padding-bottom: 2rem;
  }
}
.hero-section .hero-container .stats .third .tem h4 {
  font-size: 14px;
  font-weight: 400;
}
.hero-section .hero-container .stats .third .tem p {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 425px) {
  .hero-section .hero-container .stats {
    flex-direction: column;
    padding: 0;
  }
  .hero-section .hero-container .stats .first {
    width: 100%;
    border: none;
  }
  .hero-section .hero-container .stats .second {
    width: 100%;
    height: auto;
    border: none;
  }
  .hero-section .hero-container .stats .second .gp-zones {
    gap: 1rem;
    align-items: center;
  }
  .hero-section .hero-container .stats .second .gp-zones .left img {
    max-width: 190px;
  }
}
@media screen and (max-width: 425px) and (max-width: 425px) {
  .hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con .full {
    display: none;
  }
}/*# sourceMappingURL=Hero.css.map */