.hero-section .hero-container {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
  padding: 2rem;
}
.hero-section .hero-container .header-1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .header-1 h1 {
  font-size: 30px;
}
.hero-section .hero-container .header-1 div {
  font-size: 11px;
  font-weight: normal;
  background-color: #242B47;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
}
.hero-section .hero-container .header-1 div span {
  font-size: 14px;
}
.hero-section .hero-container .header-2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero-section .hero-container .header-2 h2 {
  font-size: 24px;
}
.hero-section .hero-container .header-2 .dropdown-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.hero-section .hero-container .header-2 .dropdown-container div {
  background-color: #1C2031;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8rem;
  cursor: pointer;
  color: #C6C7CB;
  border: 2px solid #252B46;
}
.hero-section .hero-container .line-through {
  width: 100%;
  height: 1px;
  background-color: #C6C7CB;
  margin: 1rem 0;
  border-radius: 4px;
  opacity: 0.2;
}
.hero-section .hero-container .map-container {
  position: relative;
  margin-top: 4rem;
  background-color: #1B1F30;
  border: 1px solid #393C4A;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 7rem;
}
.hero-section .hero-container .map-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero-section .hero-container .map-container .right-side .zooms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}
.hero-section .hero-container .map-container .right-side .zooms .zoom {
  background-color: white;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
}
.hero-section .hero-container .map-container .right-side .parties {
  margin-bottom: 5rem;
  color: #57656B;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  right: 17%;
}
.hero-section .hero-container .map-container .right-side .parties .apc {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .apc div {
  width: 32px;
  height: 24px;
  background-color: #64CCFF;
}
.hero-section .hero-container .map-container .right-side .parties .lp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .lp div {
  width: 32px;
  height: 24px;
  background-color: #0AA83F;
}
.hero-section .hero-container .map-container .right-side .parties .pdp {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-section .hero-container .map-container .right-side .parties .pdp div {
  width: 32px;
  height: 24px;
  background-color: #D62B3C;
}
.hero-section .hero-container .stats {
  margin-top: 2rem;
  background-color: #1B1F30;
  border: 1px solid #393C4A;
  border-radius: 13px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  min-height: 428px;
}
.hero-section .hero-container .stats .first {
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero-section .hero-container .stats .first .outer {
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #449352;
  margin-right: 6rem;
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}
.hero-section .hero-container .stats .first .outer .middle {
  padding: 0.5rem;
  background-color: #1B1F30;
  border-radius: 50%;
}
.hero-section .hero-container .stats .first .outer .middle .inner {
  border: 1px solid #393C4A;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B1F30;
}
.hero-section .hero-container .stats .first .outer .middle .inner p {
  font-size: 14px;
}
.hero-section .hero-container .stats .first .outer .middle .inner h1 {
  font-size: 20px;
}
.hero-section .hero-container .stats .first .rv {
  position: absolute;
  top: 15%;
  right: 8%;
}
.hero-section .hero-container .stats .first .rv p {
  font-size: 12px;
  opacity: 50%;
}
.hero-section .hero-container .stats .first .rv h2 {
  font-size: 15px;
}
.hero-section .hero-container .stats .first .ac {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.hero-section .hero-container .stats .first .ac p {
  font-size: 12px;
  opacity: 50%;
}
.hero-section .hero-container .stats .first .ac h2 {
  font-size: 15px;
}
.hero-section .hero-container .stats .first .rv-arrow {
  position: absolute;
  top: 20%;
  right: 35%;
}
.hero-section .hero-container .stats .first .av-arrow {
  position: absolute;
  bottom: 23%;
  left: 27%;
  z-index: 1;
}
.hero-section .hero-container .stats .second {
  width: 538px;
  height: 100%;
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
}
.hero-section .hero-container .stats .second h2 {
  font-size: 14px;
  font-weight: 400;
}
.hero-section .hero-container .stats .second .gp-zones {
  padding-top: 2.3rem;
  display: flex;
  justify-content: space-between;
}
.hero-section .hero-container .stats .second .gp-zones .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-end;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 12px;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general .gp-con .rec {
  width: 22px;
  height: 14px;
  background-color: #449352;
}
.hero-section .hero-container .stats .second .gp-zones .right .gp-general p {
  opacity: 60%;
}
.hero-section .hero-container .stats .third {
  width: 270px;
  height: 100%;
  border: 1px solid #393C4A;
  padding: 2rem;
  border-radius: 13px;
}/*# sourceMappingURL=Hero.css.map */