@import '../Variables/Variables.scss';

.hero-section {
    .hero-container {
        max-width: 1400px;
        margin: 0 auto;
        color: white;
        padding: 2rem;

        .header-1 {
            display: flex;
            align-items: center;
            gap: 1rem;

            h1 {
                font-size: 30px;
            }
            div {
                font-size: 11px;
                font-weight: normal;
                background-color: $primaryColor2;
                padding: 0.2rem 0.5rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                border-radius: 4px;
                
                span {
                    font-size: 14px;
                }
            }
            @media screen and (max-width: 425px) {
                flex-direction: column;   
                align-items: flex-start;

                h1 {
                    font-size: 24px;
                }
                h4 {
                    font-size: 10px;
                    font-weight: 400;

                    span {
                        color: #E5B805;
                    }
                }
            }
            @media screen and (min-width: 768px) {
                h4 {
                    display: none;
                }
            }
        }
        .header-2 {
            display: flex;
            justify-content: space-between;
            padding: 2rem 0;

            h2 {
                font-size: 24px;
            }

            .filters {
                display: flex;
                justify-content: space-between;
                background-color:#1C2031;
                padding: 1rem;
                border: 6px;
                color: #C6C7CB;
                border: 1px solid #252B46;
                cursor: pointer;
    
                @media screen and (min-width: 768px) {
                    display: none;
                 }
            }

            .dropdown-container {
                display: flex;
                align-items: center;
                gap: 1rem;

                .dd-line {
                    width: 100%;
                    height: 1px;
                    background-color: #212842;
                    border-radius: 4px;
                }

                @media screen and (max-width: 425px) {
                   display: none;
                }
            }
            @media screen and (max-width: 425px) {
                flex-direction: column;
                gap: 2rem;
                padding-bottom: 1rem;

                h2 {
                    font-size: 16px;
                    font-weight: 500;
                }
             }    
        }
        .line-through {
            width: 100%;
            height: 1px;
            background-color: #C6C7CB;
            margin: 1rem 0;
            border-radius: 4px;
            opacity: 0.2;

            @media screen and (max-width: 425px) {
                display: none;
             }
        }
        .map-container {
            position: relative;
            margin-top: 4rem;
            background-color: $primaryColor3;
            border: 1px solid#393C4A ;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            padding: 2rem;
            gap: 7rem;

            .right-side {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .zooms {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 5rem;
    
                    .zoom {
                        background-color: white;
                        width: 38px;
                        height: 38px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        border-radius: 4px;
                    }
                }

                .parties {
                    margin-bottom: 5rem;
                    color: #57656B;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    position: absolute;
                    bottom: 0;
                    right: 17%;

                    .apc {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        div {
                            width: 32px;
                            height: 24px;
                            background-color: $APC;
                        }
                    }
                    .lp {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        div {
                            width: 32px;
                            height: 24px;
                            background-color: $LP;
                        }
                    }
                    .pdp {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        div {
                            width: 32px;
                            height: 24px;
                            background-color: $PDP;
                        }
                    }
                }
            }  
            @media screen and (max-width: 425px) {
                height: 290px;
                gap: 1rem;
                padding: 1rem;
                margin-top: 0;
                .map-img {

                    img {
                        width: 100%
                    }
                }
                .right-side {
                    .zooms {
                        margin-top: 1rem;
                        margin-right: 0.5rem;
                        .zoom {
                            width: 22px;
                            height: 22px;

                            img {
                                transform: scale(0.8);
                            }
                        }
                    }
                    .parties {
                        flex-direction: row;
                        gap: 1rem;
                        bottom: 0;
                        right: 0;
                        margin-bottom: 1rem;
                        margin-right: 1rem;
                        font-size: 12px;

                       .apc {
                            gap: 0.5rem;
                            div {
                                width: 20px;
                                height: 15px;
                            }
                       }
                       .lp {
                            gap: 0.5rem;
                            div {
                                width: 20px;
                                height: 15px;
                            }
                       }
                       .pdp {
                            gap: 0.5rem;
                            div {
                                width: 20px;
                                height: 15px;
                            }
                       }
                    }
                }
             } 
        }
        .stats {
            margin-top: 2rem;
            background-color: $primaryColor3;
            border: 1px solid#393C4A ;
            border-radius: 13px;
            padding: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 428px;
            height: 100%;

            .first {
                border: 1px solid#393C4A;
                padding: 2rem; 
                border-radius: 13px;
                width: 380px;
                height: 337px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .outer {
                    border: 1.5rem solid #449352;
                    border-radius: 50%;
                    border-top-color: #E30325;
                    margin-right: 6rem;
                    margin-bottom: 3rem;
                    position: relative;
                    z-index: 2;
                    transform: rotate(50deg);

                    @media screen and (max-width: 320px) {
                        margin-right: 3rem;
                        margin-bottom: 0;
                     }


                    .middle {
                        padding: 0.5rem;
                        background-color: $primaryColor3;
                        border-radius: 50%;
                        transform: rotate(-50deg);

                        .inner {
                            border: 1px solid#393C4A ; 
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            background-color: $primaryColor3;

                            @media screen and (max-width: 375px) {
                                width: 120px;
                                height: 120px;
                             }

                             @media screen and (max-width: 320px) {
                                width: 90px;
                                height: 90px;
                             }
        
                            p {
                                font-size: 14px;

                                @media screen and (max-width: 375px) {
                                    font-size: 12px;
                                 }

                                 @media screen and (max-width: 320px) {
                                    font-size: 10px;
                                 }
                            }
                            h1 {
                                font-size: 20px;
                                @media screen and (max-width: 375px) {
                                    font-size: 16px;
                                 }
                                 @media screen and (max-width: 320px) {
                                    font-size: 13px;
                                 }
                            }
                        }
                    }
                }
                .rv {
                    position: absolute;
                    top: 15%;
                    right: 8%;

                    @media screen and (max-width: 320px) {
                        right: 2%;
                        top: 19%;
                     }

                    p {
                        font-size: 12px;
                        opacity: 50%;
                    }
                    h2 {
                        font-size: 15px;
                    }
                }
                .ac {
                    position: absolute;
                    bottom: 10%;
                    left: 15%;

                    p {
                        font-size: 12px;
                        opacity: 50%;
                    }
                    h2 {
                        font-size: 15px;
                    }
                }
                .rv-arrow {
                    position: absolute;
                    top: 20%;
                    right: 35%;

                    @media screen and (max-width: 320px) {
                        top: 27%;
                     }
                }
                .av-arrow {
                    position: absolute;
                    bottom: 23%;
                    left: 27%;
                    z-index: 1;
                }
            }
            .second {
                width: 538px;
                height: 337px;
                border: 1px solid#393C4A;
                padding: 2rem; 
                border-radius: 13px;

                h2 {
                    font-size: 14px;
                    font-weight: 400;
                }

                .gp-zones {
                    padding-top: 2.3rem;
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: 375px) {
                        flex-direction: column;
                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        align-self: flex-end;
                        margin-bottom: 2rem;

                        .gp-general {
                            display: flex;
                            justify-content: space-between;
                            gap: 1rem;
                            font-size: 12px;
    
                            .gp-con {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;
    
                                .rec {
                                    width: 22px;
                                    height: 14px;
                                    border-radius: 2px;
                                }
                                .short {
                                    @media screen and (min-width: 768px) {
                                       display: none;
                                    }
                                }
                            }
                            .ne-con {
                                div {
                                    background-color: #449352;
                                }
                            }
                            .nw-con {
                                div {
                                    background-color: #6D769D;
                                }
                            }
                            .nc-con {
                                div {
                                    background-color: #A163BE;
                                }
                            }
                            .sw-con {
                                div {
                                    background-color: #E30325;
                                }
                            }
                            .ss-con {
                                div {
                                    background-color: #2249D1;
                                }
                            }
                            .se-con {
                                div {
                                    background-color: #018796;
                                }
                            }
    
                            p {
                                opacity: 60%;
                            }
                        }
    
                    }
                }
            }
            .third {
                width: 270px;
                height: 337px;
                border: 1px solid#393C4A;
                padding: 2rem; 
                border-radius: 13px;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @media screen and (max-width: 425px) {
                    width: 100%;
                    height: 100%;
                    border: none;
                 }

                .third-header {
                    
                    h2 {
                        font-size: 14px;
                        font-weight: normal;
                    }
                    p {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                .tem {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    @media screen and (max-width: 425px) {
                        flex-direction: row;
                        padding-bottom: 2rem;
                     }

                    h4 {
                        font-size: 14px;
                        font-weight: 400;
                    }
                    p {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
            @media screen and (max-width: 425px) {
                flex-direction: column;
                padding: 0;

                .first {
                    width: 100%;
                    border: none;
                }
                .second {
                    width: 100%;
                    height: auto;
                    border: none;

                    .gp-zones {
                        gap: 1rem;
                        align-items: center;

                        .left {
                            img {
                                max-width: 190px;
                            }
                        }
                        .right {
                            .gp-general {
                                .gp-con {
                                    .full {
                                        @media screen and (max-width: 425px) {
                                            display: none;
                                         }
                                    }
                                }
                            }
                        }
                    }
                }
             }
        }
    }
       
}