@import '../Variables/Variables.scss';

nav {
    width: 100%;
}
nav section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    flex-basis: 20%;
    
    img {
        cursor: pointer;
    }
}
nav .nav-links-container {
    flex-basis: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 nav .nav-links {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 2rem;
    font-size: 14px;
    
    p {
        cursor: pointer;
    }
}
nav .user-links {
    display: flex;
    align-items: center;
    gap: 2rem;
    
    button {
        text-transform: uppercase;
        padding: 1rem 2rem;
        background-color: transparent;
        color: white;
        font-weight: bold;
        outline: none;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .sign-up {
        background-color: $yellowColor;
        color: black;
    }
}
.comm-icon-div {
    background-color: rgb(208,248,255);
    padding: 0.5rem;
}
.comm-content-div {
    h1 {
        font-size: 14px;
    }
    p {
        font-size: 13px;
        margin-top: 4px;
    }
}